<!DOCTYPE html>
<html>
<head>
    <title>Form Example</title>

    <style>

        form{
            width: 50%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px; 
        }

        form input[type="submit"]{
            margin-top: 10px;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
    </style>

</head>
<body>
    <form method="post">
        <h1>Submit Your Information</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" />
    </form>
</body>
</html>
